.customer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 94px 0px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;

  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('header-primary');
  }

  &__list {
    margin: 50px auto 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    padding: 0 15px;
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: auto;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid getColor('decorative-secondary');
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: getColor('decorative-secondary');
    color: getColor('decorative-secondary');

    &:hover,
    &:focus {
      border: 1px solid getColor('decorative-primary');
      fill: getColor('decorative-primary');
      color: getColor('decorative-primary');
      transition: color fill border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}