.logo {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin: 16px 93px 16px 0px;
  color: var(--secondary-color);

  &__lighttheme {
    color: var(--main-color);
  }

  &__darktheme {
    color: var(--third-color);
  }
}